* {
  margin: 0px;
}

body {
}

/* Header Property */
header {
  background-color: #0a1612;
  width: 100%;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.btn {
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
}

#clear {
  clear: both;
}

#buttons-icon-header {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  /* If you change the size of the header-name you have to change this */
  left: calc(100% - 330px);
}

#header-name {
  /* If you change mostly anything in the buttons-icon you must change stuff in here */
  margin-bottom: 0px;
  float: left;
  color: white;
  margin-left: 30px;
  margin-top: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* All for shadow of the header */
  -webkit-transition: text-shadow 0.5s ease-in-out;
  -moz-transition: text-shadow 0.5s ease-in-out;
  -o-transition: text-shadow 0.5s ease-in-out;
  -ms-transition: text-shadow 0.5s ease-in-out;
  transition: text-shadow 0.5s ease-in-out;

  text-shadow: 5px 5px 3px #141414;
}

#header-name:hover {
  text-shadow: -5px -5px 1px #141414;
}
/* End of header styling */

/* Start of main content styling */
main {
  background-image: url("background.jpg");
  background-size: contain;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-box {
  border: 3px solid white;
  background-color: #03063d;
}

.projects-header {
  color: white;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: calc(50% - 82.8px);
}

.project-image {
  height: 180px;
  width: 290px;
  position: relative;
}
/* End of main content styling */

/* Start of footer styling */
footer {
  width: 100%;
  height: 160px;
  background-color: #1a2930;
}

#contact-header,
#about-header {
  color: white;
}

a {
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: white;
}

li,
#bio-text {
  /* Gets a changed at different widths */
  font-size: 1em;
  color: white;
}

#self-photo {
  border-radius: 100%;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#bio-text {
  text-indent: 30px;
}

#buttons-icon-footer {
  margin-top: 19.6px;
  margin-bottom: 19.6px;
  margin-left: 20%;
}

/* Media Querys */
@media screen and (max-width: 782px) {
  li,
  #bio-text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 578px) {
  li,
  #bio-text {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 468px) {
  li,
  #bio-text {
    font-size: 0.4em;
  }
}
