* {
  margin: 0px;
}

header {
  background-color: #222629;
  width: 100%;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.btn-github {
  background-color: rgb(245, 245, 245);
}

.btn {
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
}

#clear {
  clear: both;
}

#buttons-icon {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  left: calc(100% - 43px);
}
